run = "npm run dev"
modules = ["nodejs-20"]

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3004
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36003217
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3004 npm run dev"
